
.button {
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    overflow: hidden;
    background: rgba(255, 44, 116, 1) ;
    border: 1px solid #ffffff;
}

.button:hover {
    border-color: #f78ba6;
    background: #ff245d;
}

.button:active {
    border-color: #f78ba6;
    background: #ff245d;
}
.buttonIcon {
    border-radius: 50%;
    margin: 0 .5rem;
    padding: 0;
}
.buttonIcon:active{
    border-radius: 50%;
}
.big {
    width: 8rem;
    height: 8rem;
}

.medium {
    width: 6rem;
    height: 6rem;
}

.tiny {
    width: 3.5rem;
    height: 3.5rem;
}

.button svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
    stroke: #ffffff;

}
