div.container{
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0em 1em;
    cursor: pointer;
    height: 7.5rem;
}
div.active{
    background: rgba(255, 148, 238, 0.05);
}
div.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}
.name{
  font-size: 2rem;
}
.image{
    width: 6rem;
}
